<footer id="myFooter" class="space">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h2 class="logo"><a href="http://localhost:4200/"> <!--<img src="../../assets/old.jpg" height="380" width="1100"/>--> 
                  <img src="../../assets/old.jpg" height="180" width="250"/></a></h2>
            </div>
            <div class="col-sm-2">
                <h5>Get started</h5>
                <ul>
                    <li><a routerLink="/">Home</a></li>
                    <li><a routerLink="/aboutUs">About Us</a></li>
                    <li><a routerLink="/contactUs">Contact us</a></li>
                </ul>
            </div>  
            <div class="col-sm-2">
                <h5>More</h5>
                <ul>
                    <li><a routerLink="/signUp">Sign up</a></li>
                    <li><a routerLink="/login">Login</a></li>
                    
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>Support</h5>
                <ul>
                    <li><a target="_blank" href="https://www.onetravel.com/faq/">FAQ</a></li>
                    <li><a target="_blank" href="https://www.tradeindia.com/Seller-5992338-TRAVEL-MANIA/">Help desk</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <div class="social-networks">
                    <a target="_blank" href="https://twitter.com/" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a target="_blank" href="https://www.facebook.com/" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a target="_blank" href="https://www.google.com/" class="google"><i class="fa fa-google-plus"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© 2019 TravelMania </p>
    </div>
</footer>