<app-header></app-header>

<h3 class="title">!!! Here are some exciting events for you !!! </h3><br>
<h5 class="title">Now spend your layover time with us! Register for any event and enjoy your journey without break. </h5><br>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/movie.jpg" style="height: 158px;" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Short Film Fest</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Register</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/magic.jpg" style="height: 158px;" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Magic Show</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Register</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/puppet.jpg" style="height: 158px;" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Puppet Show</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Register</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/game.jpg" style="height: 158px;" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Game Zone</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Register</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/pottery.jpg" style="height: 158px;" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Poppery Tutorials</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Register</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/karaoke.JPG" style="height: 158px;" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Karaoke Station</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Register</a>
                </div>
            </div>
        </div>
    </div>
  </div>
<app-footer></app-footer>