<app-header></app-header>
<section class="sec">
<aside class="profile-card mar1">
    <header>
      <a target="_blank" href="#">
        <img src="../../assets/puppet.jpg" class="hoverZoomLink">
      </a>
      <h1>Puppet Show</h1>
      <h2>Singapore Changi Airport</h2>
    </header>
  
    <div class="profile-bio">
  <p>Come enjoy the Puppet Show at T Lounge from 2pm to 3pm.</p>
  <p>Enjoy the show!</p>
  </div>
  <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Book</button>
  </aside>

  <aside class="profile-card mar2">
      <header>
        <a target="_blank" href="#">
          <img src="../../assets/magic.jpg" class="hoverZoomLink">
        </a>
        <h1>Magic Show</h1>
        <h2>Dubai International Airport</h2>
      </header>
    
      <div class="profile-bio">
    <p>Come enjoy the Magic Show at Lavale Lounge from 4pm to 5pm.</p>
    <p>Enjoy the show!</p>
    </div>
    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Book</button>
    </aside>

    <aside class="profile-card mar3">
        <header>
          <a target="_blank" href="#">
            <img src="../../assets/movie.jpg" class="hoverZoomLink">
          </a>
          <h1>Short Film Festival</h1>
          <h2>Hammad International Airport</h2>
        </header>
      
        <div class="profile-bio">
      <p>Catch the short film festival at Granada Bar from 1am to 3am.</p>
      <p>Enjoy the show!</p>
      </div>
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Book</button>
      </aside>
      <!-- <aside class="profile-card mar4">
          <header>
            <a target="_blank" href="#">
              <img src="../../assets/movie.jpg" class="hoverZoomLink">
            </a>
            <h1>Short Film Festival</h1>
            <h2>Hammad International Airport</h2>
          </header>
        
          <div class="profile-bio">
        <p>Catch the short film festival at Granada Bar from 1am to 3am.</p>
        <p>Enjoy the show!</p>
        </div>
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Book</button>
        </aside> -->
</section>
<app-footer></app-footer>