<app-header></app-header>

<div class="container"> 
  <div *ngIf="processingStart && success" class="row">
    <div class="col-xs-12 col-sm-8 col-md-8">
        <div class="alert alert-success" role="alert">
            Login Successful!
        </div>
    </div>
  </div> 

  <div *ngIf="processingStart && !success" class="row">
      <div class="col-xs-12 col-sm-8 col-md-8">
          <div class="alert alert-danger" role="alert">
              {{message}}
          </div>
      </div>
  </div> 

  <div class="row centered-form middle">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Login</h3>
        </div>
        <div class="panel-body">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <span class="fa fa-envelope col-sm-2 col-form-label"></span>
                <div class="col-xs-6 col-sm-6 col-md-8 col-md-offset-2">
                  <div class="form-group">
                    <input type="email" formControlName="email" id="email" class="form-control input-sm" placeholder="Email Address">
                    <div *ngIf="processingStart && loginForm.controls.email.errors" class="error">
                      <div *ngIf="loginForm.controls.email.errors.required"> Your Email Id is required</div>
                    </div>
                  </div>
              </div>
            </div>

            <div class="row">
                <span class="fa fa-key col-sm-2 col-form-label"></span>
              <div class="col-xs-6 col-sm-6 col-md-8 col-md-offset-2">
                <div class="form-group">
                  <input type="password" formControlName="password" id="password" class="form-control input-sm" placeholder="Password">
                  <div *ngIf="processingStart && loginForm.controls.password.errors" class="error">
                    <div *ngIf="loginForm.controls.password.errors.required"> Password is required</div>
                  </div>
                </div>
              </div>
            </div>
            <input type="submit" value="Login" class="btn btn-info btn-block">
            <span class="psw"><a href="#">Forgot password?</a></span>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>