<app-header></app-header>
<div class="container">
    <form >
      <div class="form-row">
        <div class="form-group col-md-5">
          <input type="text" class="form-control" id="inputName" placeholder="email">
        </div>
        
        <div class="form-group col-md-3">
          <!-- <label for="inputZip">Contact</label> -->
          <input type="text" class="form-control" id="inputName" placeholder="contact">
        </div>

        <div class="form-group col-md-2">
                <button class="form-control btn btn-info" (click)="add()" type="button">Add <span class="fa fa-plus"></span></button>
        </div>

        <div class="form-group col-md-2">
            <button class="form-control btn btn-info" (click)="remove()" type="button">Remove <span class="fa fa-minus"></span></button>
        </div>
      </div>
      <hr>
      <h3>Enter passenger details <span class="small"><i>please enter details per passenger</i></span></h3>
      <hr>
      <div class="form-row" *ngFor="let d of details; let i=index">
        <div class="form-group col-md-6">
          <label for="inputCity">Full Name</label>
          <input type="text" class="form-control" id="inputName" >
        </div>
        <div class="form-group col-md-1">
          <label for="inputState">Age</label>
          <input type="text" class="form-control" id="inputAge" >
        </div>
        <div class="form-group col-md-2">
          <label for="inputZip">Gender</label>
          <select id="inputState" class="form-control" >
            <option selected>Choose...</option>
            <option>Male</option>
            <option>Female</option>
            <option>Other</option>
          </select>
        </div>
      </div>
      <div class="form-group col-md-2">
          <button class="form-control btn btn-info" type="submit">Submit</button>
    </div>
    </form>
   
   </div>

   <app-footer></app-footer>