<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

<app-header></app-header>

<div class="container">
  <div class="alert alert-info" role="alert">
    <nav class="navbar navbar-expand-sm bg-light justify-content-center">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/travelGuide#amsterdam">Amsterdam</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/travelGuide#dubai">Dubai</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/travelGuide#abudhabhi">Abudhabi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/travelGuide#qatar">Qatar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/travelGuide#london">London</a>
          </li>
        </ul>
      </nav>
  </div>

  <div class="w3-row" id ="amsterdam">
      <div class="w3-third" id ="amsterdam">
        <img src="../../assets/amsterdam_proj.jpg" width="300%" alt="Scenic Pic of Amsterdam"> 
  </div>
  
  <div class="w3-row" id ="dubai">
      <div class="w3-third" id ="dubai">
        <img src="../../assets/dubai_proj.jpg" width="300%" alt="Scenic Pic of Dubai ">
      </div>  
  </div>

  <div class="w3-row" id ="abudhabhi">
      <div class="w3-third" id ="abudhabhi">
        <img src="../../assets/abudhabi_proj.jpg" width="300%" alt="Scenic Pic of Abudhabi">
      </div>  
  </div>

  <div class="w3-row" id="qatar">
      <div class="w3-third" id="qatar">
        <img src="../../assets/qatar_proj.jpg" width="300%" alt="Scenic Pic of Qatar">
      </div>  
  </div>
      
  <div class="w3-row" id="london">
      <div class="w3-third" id="london">
        <img src="../../assets/london_proj.jpg" width="300%"  alt="Scenic Pic of London">
      </div>  
  </div>
</div>

<app-footer></app-footer>